<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
    <title>Create a new post</title>
</head>
<body>
<div layout:fragment="content">



    <h1 th:text="#{post.create.title}">Create a new post</h1>

    <form th:action="@{/post/create}" action="/post/create" method="POST">
        <div class="form-group">
            <label for="author">Author</label>
            <input type="text" id="author" name="author" class="form-control" />
        </div>
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" class="form-control" />
        </div>
        <div class="form-group">
            <label for="content">Content</label>
            <textarea id="content" name="content" class="form-control" rows="10"></textarea>
        </div>
        <div class="text-right">
            <a th:href="@{/}" th:utext="#{post.create.back}" class="btn btn-default">Back</a>
            <button type="submit" class="btn btn-primary" th:text="#{post.create.submit}">Submit</button>
        </div>
    </form>

</div>
</body>
</html>